<!DOCTYPE html>

  <html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Men</title>
    <link href="../static/css/Men.css" th:href="@{/css/Men.css}" rel="stylesheet">

</head>
<body>
    <div class="Navbar">
        
        <a href="./Men.html" class="head">Casual Shirts</a>
         <a href="./Men.html" class="head">Formal Shirts</a>
         <a href="./Men.html" class="head">T-Shirts</a>
         <a href="./Men.html" class="head">Trousers</a>
         <a href="./Men.html" class="head">Hoddies & Swetshirts</a>
         <a href="./Men.html" class="head">Jackets</a>

    <div class="poster">    
        <img src="./Images/Men/Men.jpg" id="Men">
    </div>
    
    
    <div class="container2">
        <div class="Block">
          <div class="Photo">
            <img src="./Images/Men/M1.jpg" alt="Photo">
            <p>Casual Shirts<br></p>
          </div>
          <div class="Photo">
            <img src="./Images/Men/M2.jpg" alt="Photo">
            <p>Formal Shirts<br</p>
          </div>
          <div class="Photo">
            <img src="./Images/Men/M3.jpg" alt="Photo">
            <p>T-Shirts<br></p>
          </div>
          <div class="Photo">
            <img src="./Images/Men/M4.jpg" alt="Photo">
            <p>Hoddies<br></p>
          </div>
          <div class="Photo">
            <img src="./Images/Men/M5.jpg" alt="Photo">
            <p>Jeans<br></p>
          </div>
          <div class="Photo">
            <img src="./Images/Men/M6.jpg" alt="Photo">
            <p>Jackets<br></p>
          </div>
         
          </div>
        </div>
      </div>    
        
</body>
</html>