<!DOCTYPE html>

  <html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Women</title>
    <link rel="stylesheet" href="../static/css/Women.css" th:href="@{/css/Women.css}" >

</head>
<body>
  <!-- <form action="#"  th:action="@{/hi}" method="get" ></form> -->
  <!-- <form action="hi" method="get" class="formname"></form> -->
  <!-- <a href="#"  th:href="@{/hi}"  > -->
    <div class="Navbar">
       
      
       
        <a href="#" th:href="@{/Women}" class="head">Western Wear</a>
         <a href="#" th:href="@{/Women}" class="head">Top & Tees</a>
         <a href="#" th:href="@{/Women}" class="head">Dress & Jumpsuit</a>
         <a href="#" th:href="@{/Women}" class="head">Bottom Wear</a>
         <a href="#" th:href="@{/Women}" class="head">Ethnic & Fusion Wear</a>
         <!-- <a href="./Women.html" class="head">Sports Wear</a> -->

        <div class="poster">    
            <img src="./Images/Women/Women.jpg" id="Men">
        </div>
        

        <section class="container2">
            <div class="Block">

              <div class="Photo">
                <img src="./Images/Women/W1.jpg" alt="Photo">
                <h4>Dresses</h4>
                 <a href="./cart.html"><h3>Add to cart</h3></a>
                <h4>&nbsp;&#8377 700</h4>
               </div>



              <div class="Photo">
                <img src="./Images/Women/W2.jpg" alt="Photo">
                <p>Jumpsuit</p>
                <a href="./cart.html"><h3>Add to cart</h3></a>
                <h4>&nbsp;&#8377 790</h4>
              </div>
              <div class="Photo">
                <img src="./Images/Women/W3.jpg" alt="Photo">
                <p>Bottom Wear</p>
                <a href="./cart.html"><h3>Add to cart</h3></a>
                <h4>&nbsp;&#8377 850</h4>
              </div>
              <div class="Photo">
                <img src="./Images/Women/W6.jpg" alt="Photo">
                <p>Tops</p>
                <a href="./cart.html"><h3>Add to cart</h3></a>
                <h4>&nbsp;&#8377 499</h4>
              </div>
              <div class="Photo">
                <img src="./Images/Women/W5.jpg" alt="Photo">
                <p>Ethnic Wear
                <a href="./cart.html"><h3>Add to cart</h3></a>
                <h4>&nbsp;&#8377 1500</h4>
              </div>
              <div class="Photo">
                <img src="./Images/Women/W4.jpg" alt="Photo">
                <p>Kurta Suit</p>
                <a href="./cart.html"><h3>Add to cart</h3></a>
                <h4>&nbsp;&#8377 900</h4>
              </div>
            
              </div>
            </div>
          </div>  
        </section>
        <script src="../static/Js/cart.js" th:src="@{/Js/cart.js}"></script> 
        
</body>
</html>











